/**
 * font-face
 */
@font-face {
  font-family: SFPro;
  src: url(fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
  font-family: SFPro-light;
  src: url(fonts/SF-Pro-Text-Ultralight.otf);
}


/**
 * fixe Werte
 */
html {
  cursor: default;
  overflow: hidden;
}
body {
  margin: 10px;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin-bottom: -10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;  
}
header {
  text-align: center;
  font-size: 20px;
  padding:8px;
  text-transform: uppercase;
}
 .module {
  font-size: 20px; 
  padding:8px;
  font-weight: 400;
}
.clock .time {
  font-size: 80px;
  text-align: center;
  margin-top: 25px;
  padding:4px;
}
.clock .date {
  text-align: center;
  font-size: 20px;
  padding:8px;
  text-transform: uppercase;
}



/**
 * optionale Werte
 */
html {
  cursor: default;
  overflow: hidden;
  background: url(bg/dark_wall.webp);
}


body {
  color: #606060;
  background:#ededed;
  font-family: SFPro;
  background: url(bg/dark_wall.webp);
}

header {
  font-family: SFPro;
  border-radius: 5px;
  outline: none;
  border: none;
  background: linear-gradient(#28D2DE 0%, #1A878F 100%);
  color: #FFF;
  border: 1px solid #000;
}

/**
 * Font Color
 */
 
.dimmed,
.normal,
.bright {
  color: #FFF;
}

/**
 * module.color_border_shadow
 */ 

 .module {
  font-family: SFPro;
  border-radius: 5px;
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  border: 1px solid black;
  color: #6E6E6E;
  text-shadow: #000 0px 1px 5px;
}

.clock .time {
  color: #FFF;
  background: transparent;
  padding:4px;
  font-family: SFPro;
  text-shadow: #000 0px 1px 5px;
}
.clock .date {
  font-family: SFPro;
  border-radius: 5px;
  outline: none;
  border: none;
  background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
  color: #FFF;
  text-transform: uppercase;
  text-shadow: #000 0px 1px 5px;
  border: 1px solid #000;
  opacity: 0.7;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
}


/**
 * MMM-CalendarExt2.
 */
.CX2 .slot > .slotContent{
  position:relative;
  width:100%;
  background-image:none;
}
.CX2 .slot .event{
  background: #fff;
}
.CX2 .agenda .eventSub {
	display:none;
}
.CX2 .slot .slotHeader{
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  font-family: SFPro;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-weight: 400;
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  border: 1px solid black;
  color: #FFF;
}
.CX2 .today .slotHeader * {
	color: #FFF;
	font-weight: bold;
}
 .CX2 .event.fullday {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  font-family: SFPro;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-weight: 400;
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  border: 1px solid black;
  color: #FFF;
}

.CX2 .event[data-calendar-name="Google"] {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  font-family: SFPro;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-weight: 400;
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  border: 1px solid black;
  color: #FFF;
}
.CX2 .event[data-calendar-name="Karate"] {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  font-family: SFPro;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-weight: 400;
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  border: 1px solid black;
  color: #FFF;
  
}
.CX2 .event[data-calendar-name="Abfall"] {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  font-family: SFPro;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-weight: 400;
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  border: 1px solid black;
  color: #FFF;
}
.CX2 .event[data-calendar-name="Arbeit"] {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  font-family: SFPro;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-weight: 400;
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  border: 1px solid black;
  color: #FFF;
}
.CX2 .event[data-calendar-name="Feiertage"] {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  font-family: SFPro;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-weight: 400;
  box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  border: 1px solid black;
  color: #FFF;
}

/**
 * Iconsize.
 */

.CX2 .event .eventIcon {
  min-width: calc(var(--font-size) * 3,5);
  min-height: calc(var(--font-size) * 3,5);
  margin-right:5px;
  float:left;
}
.CX2 .period .eventIcon {
  min-width: calc(var(--font-size) * 3,5);
  min-height: calc(var(--font-size) * 3,5);
  margin-right:5px;
  float:left;
}
.CX2 .weekSlot .eventIcon {
  min-width: calc(var(--font-size) * 3,5);
  min-height: calc(var(--font-size) * 3,5);
  margin-right:3px;
  display:block;
  padding-bottom:3px;
}
