/**
 * fixe Werte Anfang
 */
 
html {
  cursor: default;
  overflow: hidden;
}
body {
  margin: 10px;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin-bottom: -10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;  
}
header {
  text-align: center;
  font-size: 20px;
  padding:8px;
  text-transform: uppercase;
}
 .module {
  font-size: 20px; 
  padding:8px;
  font-weight: 400;
}
.clock .time {
  font-size: 80px;
  text-align: center;
  margin-top: 5px;
  padding:4px;
}
.clock .date {
  text-align: center;
  font-size: 20px;
  padding:4px;
  text-transform: uppercase;
}

/**
 * fixe Werte Ende
 *********************************************/

/**
 * optionale Werte Anfang
 */
html {
  background: #E1E1E1;
}


body {
  color: black;
  background:url(bg/apple-logo-login.png) center no-repeat;
  
}

header {
  color: black;
  border-radius: 5px; 
  border-bottom:none;
  text-shadow: 0 1px 1px #dbdbdb;
}
 .module.currentweather {
    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 40px, #EDEDED, #EDEDED 40px);
	background: -moz-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 40px, #EDEDED, #EDEDED 40px);
    border-radius: 5px; 
	  box-shadow:  7px -7px 14px #adadad, 
             -7px 7px 14px #ffffff;
}

 .module.weatherforecast {
    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 40px, #EDEDED, #EDEDED 40px);
	background: -moz-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 40px, #EDEDED, #EDEDED 40px);
    border-radius: 5px; 
	  box-shadow:  7px -7px 14px #adadad, 
             -7px 7px 14px #ffffff;
}

 .module.calendar {
    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 45px, #EDEDED, #EDEDED 45px);
	background: -moz-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 45px, #EDEDED, #EDEDED 45px);
    border-radius: 5px;
	  box-shadow:  7px -7px 14px #adadad, 
             -7px 7px 14px #ffffff;
}

 .module.clock {
    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 45px, #EDEDED, #EDEDED 45px);
	background: -moz-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 45px, #EDEDED, #EDEDED 45px);
    border-radius: 5px;
	  box-shadow:  7px -7px 14px #adadad, 
             -7px 7px 14px #ffffff;
}

 .module.newsfeed {
    border-radius: 5px; 
}

 .module.compliments {
  box-shadow:  7px -7px 14px #adadad, 
             -7px 7px 14px #ffffff;
}

.clock .time {

}
.clock .date {
  color: black;
  border-radius: 5px;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  
}
 
.dimmed,
.normal,
.bright {
  color: black;
}
/**
 * optionale Werte Ende
 */
